
$squareSize: 100px;

.row {
	display: flex;
}

.dropTarget {
	position: relative;
	width: 100%;
	height: 100%;
}

.square {
	width: $squareSize;
	height: $squareSize;
	&.dark {
		background: green;
	}
	&.light {
		background: floralwhite;
	}
	&:not(.isOver).canDrop {
		background: lightyellow;
	}
	&.isOver.canDrop {
		background: yellow;
	}
}

.piece {
	font-size: 25px;
	font-weight: bold;
	cursor: move;
	&.black {
		color: black;
	}
	&.white {
		color: blue;
	}
}
