
$squareSize: 100px;

.row {
	display: flex;
}

.dropTarget {
	position: relative;
	width: 100%;
	height: 100%;
}

.square {
	width: $squareSize;
	height: $squareSize;
	&.dark {
		background: green;
		&.isOver {
			background: yellow;
		}
	}
	&.light {
		background: floralwhite;
		&.isOver {
			background: yellow;
		}
	}
}

.piece {
	font-size: 25px;
	font-weight: bold;
	cursor: move;
	&.black {
		color: black;
	}
	&.white {
		color: blue;
	}
}
